<section id="about" class="about container">
  <h2 class="title-about">About me</h2>

  <div class="container-about">
    <div class="image-about">
      <img src="/img/certificate.jpeg" alt="certificate" />
    </div>
    <div class="container-text">
      <p>
        I am a motivated and goal-oriented Full-Stack Developer dedicated to
        creating modern, responsive, and visually appealing websites.
      </p>
      <p>
        In November 2024, I successfully completed Full-Stack development
        courses, where I gained solid knowledge and practical experience in
        building web applications.
      </p>
      <p>
        My passion for self-improvement enables me to quickly adapt to new
        challenges and continuously enhance my skills. I enjoy working on
        projects that require attention to detail, crafting intuitive
        interfaces, and ensuring a positive user experience. For me, it is
        essential not only to implement the technical aspects but also to convey
        the spirit and emotions behind each product.
      </p>
    </div>
  </div>
</section>
