<div class="burger-menu js-burger-menu">
    <div class="container-logo-btn">
    <a href="#home" class="logo js-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="70"
          height="70"
          viewBox="0 0 51 51"
          fill="none"
        >
          <circle
            cx="25.1174"
            cy="25.1174"
            r="25.1174"
            fill="url(#paint0_linear_2_734)"
          />
          <text
            x="50%"
            y="50%"
            text-anchor="middle"
            dominant-baseline="middle"
            font-family="Arial, sans-serif"
            font-size="16"
            fill="white"
            font-weight="bold"
          >
            DK
          </text>
          <defs>
            <linearGradient
              id="paint0_linear_2_734"
              x1="25.1174"
              y1="0"
              x2="25.1174"
              y2="50.2347"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#F20493" />
              <stop offset="1" stop-color="#9616C4" />
            </linearGradient>
          </defs>
        </svg>
        <div class="logo-text">
          <p>KARNAUKH</p>
          <p>DARIA</p>
        </div>
      </a>
      <svg class="js-close-menu"
  xmlns="http://www.w3.org/2000/svg"
  width="40"
  height="40"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <line x1="18" y1="6" x2="6" y2="18"></line>
  <line x1="6" y1="6" x2="18" y2="18"></line>
</svg>
</div>
    <div class="wrapper-mob-nav">
      <ul class="mob-menu_list">
        <li class="mob-menu-item">
          <a href="#home" class="mob-menu-link js-menu-link">Home</a>
        </li>
        <li class="mob-menu-item">
          <a href="#about" class="mob-menu-link js-menu-link">About</a>
        </li>
        <li class="mob-menu-item">
          <a href="#skills" class="mob-menu-link js-menu-link"
            >Skills</a
          >
        </li>
        <li class="mob-menu-item">
          <a href="#portfolio" class="mob-menu-link js-menu-link"
            >Portfolio</a
          >
        </li>
        <li class="mob-menu-item">
          <a href="#Contact" class="mob-menu-link js-menu-link"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
