<header class="header ">
 
  <a href="/" class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 51 51" fill="none">
      <circle cx="25.1174" cy="25.1174" r="25.1174" fill="url(#paint0_linear_2_734)"/>
      <text x="50%" y="50%" text-anchor="middle" dominant-baseline="middle" font-family="Arial, sans-serif" font-size="16" fill="white" font-weight="bold">
        DK
      </text>
      <defs>
        <linearGradient id="paint0_linear_2_734" x1="25.1174" y1="0" x2="25.1174" y2="50.2347" gradientUnits="userSpaceOnUse">
          <stop stop-color="#F20493"/>
          <stop offset="1" stop-color="#9616C4"/>
        </linearGradient>
      </defs>
    </svg>
    <div>
  <p>KARNAUKH</p>
  <P>DARIA</P>
</div>
  </a>

<nav>
  <ul class="nav-list">
    <li class="nav-link"><a href="">Home</a></li>
    <li class="nav-link"><a href="">About</a></li>
    <li class="nav-link"><a href="">Skills</a></li>
    <li class="nav-link"><a href="">Portfolio</a></li>
    <li class="nav-link"><a href="">Contact</a></li>
  </ul>

  <nav class="nav"></nav>
</header>
