<section id="home" class="main-page container">
  <load ="partials/header.html" />
  <div class="container-home-page">
    <div class="wrapper-main-text">
      <h2
        class="main-page-title"
        data-aos-duration="3000"
        data-aos="zoom-in-right"
      >
        Hello, I’m Daria Karnaukh
      </h2>
      <h1 class="main-title" data-aos-duration="3000" data-aos="zoom-in-left">
        a full-stack web developer
      </h1>
    </div>
    <div class="fixed-circle"></div>
    <div class="image-main-page">
      <img src="../img/IMG_6434-Photoroom.png" alt="foto" />
    </div>
  </div>
</section>
