<section id="skills" class="swiper">
  <h2 >
    My Skills & Technologies
  </h1>
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <img src="../img/html5.png" alt="html5" />
      <h3>HTML5</h3>
      <p>
        HTML is the backbone of every web page, providing structure and meaning
        to content. It allows me to create well-organized, accessible, and
        SEO-friendly layouts, ensuring a solid foundation for any website. With
        HTML, your site is not only properly structured but also easy to
        navigate and understand.
      </p>
    </li>

    <li class="swiper-slide">
      <img src="../img/css3.png" alt="css3" />

      <h3>CSS3</h3>
      <p>
        CSS3 is the technology that brings style, responsiveness, and visual
        appeal to modern web applications. It enables me to create stunning
        designs with animations, transitions, and flexible layouts, ensuring a
        seamless user experience across all devices. With CSS3, your website is
        not only visually impressive but also adaptive and efficient.
      </p>
    </li>

    <li class=" swiper-slide">
      <img src="../img/JS.png" alt="js" />

      <h3>Java Script</h3>
      <p>
        JavaScript is the magic behind interactive and dynamic web experiences.
        It brings your site to life with sliders, pop-ups, tooltips, tabs, and
        real-time data fetching from servers. From enhancing user interactions
        to building complex web applications
      </p>
    </li>

    <li class=" swiper-slide">
      <img src="../img/React.png" alt="react" />

      <h3>React</h3>
      <p>
        React is the tool that turns complex interfaces into fast, efficient,
        and scalable web applications. It allows me to create reusable
        components, ensuring seamless updates and dynamic interactions. With
        React, your site not only looks great but also performs flawlessly,
        delivering an exceptional user experience.
      </p>
    </li>

    <li class=" swiper-slide">
      <img src="../img/Node.js.png" alt="node.js" />

      <h3>Node.js</h3>
      <p>
        Node.js is a powerful runtime environment that brings high performance
        and scalability to server-side applications. It allows me to build fast,
        efficient, and real-time web services using JavaScript, ensuring
        seamless data processing and smooth performance. With Node.js, your
        backend is not only robust but also capable of handling high loads with
        ease.
      </p>
    </li>

    <li class=" swiper-slide">
      <img src="../img/Mongo.db.png" alt="mongo.db" />

      <h3>Mongo.db</h3>
      <p>
        MongoDB is a flexible and scalable NoSQL database designed for modern
        applications. It allows me to store and manage data efficiently using a
        document-oriented approach, ensuring high performance and seamless
        scalability. With MongoDB, your data is not only well-structured but
        also easily accessible and adaptable to changing requirements.
      </p>
    </li>
  </ul>
</section>
