.about {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 100px 0px 100px 0;
  background: linear-gradient(rgba(46, 47, 66, 0.6), rgba(46, 47, 66, 0.6)),
    linear-gradient(135deg, #2a1e6f, #5c1f89, #912c99, #e44878);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @include media(desktop) {
    gap: 100px;
  }
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include media(desktop) {
    flex-direction: row;
    gap: 80px;
  }
}

.title-about {
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  @include media(desktop) {
    font-size: 70px;
    font-weight: 800;
  }
}

.image-about {
  display: flex;
  align-items: center;

  img {
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px #2a1e6f, -15px -15px 30px #5c1f89;
  }
}

.image-about img {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.image-about img:hover,
.image-about img:focus {
  transform: scale(0.9);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.container-text {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  p {
    text-align: justify;
    font-size: 18px;
    line-height: normal;
    transition: transform 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
    @include media(desktop) {
      font-size: 30px;
      width: 700px;
    }
  }
  @include media(desktop) {
    width: 700px;
    gap: 60px;
  }
}

.container-text p:hover,
.container-text p:focus {
  transform: scale(0.9);
}
