.header {
  height: 70px;
  display: flex;
  gap: 250px;
  align-items: center;
  margin-bottom: 100px;
  padding-left: 40px;
  position: relative;
  z-index: 3;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;

  li {
    color: #fff;
    font-family: Inter;
    font-size: 25px;
    letter-spacing: normal;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.02em;
  gap: 6px;
}
