.main-page {
  background: rgba(11, 10, 10, 0.5);
  padding: 30px 0px 0px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.6),
      rgba(46, 47, 66, 0.6)
    ),
    url(/img/8.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  @include media(desktop) {
    padding: 60px 0px 70px 0;
  }
}

.wrapper-main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  width: 280px;
  z-index: 4;
  @include media(desktop) {
    width: 800px;
    justify-content: center;
    height: auto;
    gap: 80px;
  }
}

.container-home-page {
  height: 580px;
  position: relative;
  z-index: 1;
  @include media(desktop) {
    display: flex;
    height: auto;
  }
}
.main-page-title {
  width: 280px;
  color: #fff;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: 500;
  line-height: normal;
  text-align: right;

  @include media(desktop) {
    width: 600px;
    font-size: 50px;
    text-align: start;
  }
}

.main-title {
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fff;
  text-shadow: 5px 5px 6px rgba(234, 186, 222, 0.7);
  animation: textShadowAppear 9s ease-in forwards;

  @include media(desktop) {
    text-align: right;
    font-size: 80px;
    font-weight: 700;
    line-height: normal;
  }
}

@keyframes textShadowAppear {
  0% {
    text-shadow: 0px 0px 0px rgba(234, 186, 222, 0.7);
  }
  50% {
    text-shadow: 3px 3px 6px rgba(234, 186, 222, 0.5);
  }
  100% {
    text-shadow: 5px 5px 6px rgba(234, 186, 222, 0.7);
  }
}

.image-main-page {
  position: relative;
  width: 300px;
  top: 0%;
  right: 0%;
  z-index: -1;
  transform: translate(0%, -130%);
  right: 0px;
  height: 300px;
  object-fit: cover;

  @include media(desktop) {
    position: relative;
    z-index: 1;
    width: 500px;
    top: -75px;
    right: 40px;
    height: 500px;
    object-fit: cover;
    transform: translate(0%, 0%);
  }
}

.image-main-page img {
  width: 100%;
  height: 100%;
  border: 20px solid #db3d9b2c;
  border-radius: 50%;
  object-fit: cover;
  @include media(desktop) {
    position: relative;
    z-index: 6;
  }
}

.spinning-number {
  display: none;
  @include media(desktop) {
    display: block;
    position: relative;
    z-index: 0;
    right: -16%;
    font-size: 1.7em;
    transform: translateY(200px);
  }
}

.spinning-number .wheel {
  animation: spinning-number-spin var(--t) linear infinite var(--r1);
}

@keyframes spinning-number-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-number .number {
  position: absolute;
  transform: translate(-50%, -50%) rotate(var(--a))
    translateY(calc(var(--l) * -1)) scale(var(--s));
}

.spinning-number .number::before {
  content: "1";
  --z: 1.9;
  --r: normal;
  transform: translate(-50%, -50%);
  animation: spinning-number-changing calc(var(--t) * var(--z))
    calc(-1 * var(--z) * var(--t) * var(--i) / var(--m) - 60s) linear infinite
    var(--r);
}

@keyframes spinning-number-changing {
  0% {
    content: "1";
  }
  to {
    content: "0";
  }
}
